<nav id="nav-bottom" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
       <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="{{ app.request.baseUrl ~ '/' }}">Calendar</a></li>
            <li role="presentation"><a href="{{ app.request.baseUrl ~ '/punchview' }}">Punch</a></li>
            <li role="presentation"><a href="#">Statistic</a></li>
            <li role="presentation"><a href="#">Library</a></li>
        </ul>
    </div>
    <!-- /.container-fluid -->
</nav>
</div>
<!-- /container -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/popover.js"></script>
<script src="assets/js/bootstrap-year-calendar.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>