{% include 'header.twig' %}
<div id="library-app">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" id="searchWords" name="searchWords" class="form-control" placeholder="请输入要搜索关键词" v-model="keyword">
                <span class="input-group-btn">
			      <button id="refresh1" type="button" class="btn btn-default" @click="postPunch()">打卡</button>
			      </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <button type="button" data-toggle="modal" data-target="#myModal">add book</button>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">.col-md-4</div>
                        <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
                        <div class="col-md-2 col-md-offset-4">.col-md-2 .col-md-offset-4</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            Level 1: .col-sm-9
                            <div class="row">
                                <div class="col-xs-8 col-sm-6">
                                    Level 2: .col-xs-8 .col-sm-6
                                </div>
                                <div class="col-xs-4 col-sm-6">
                                    Level 2: .col-xs-4 .col-sm-6
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
    <loading v-if="changer"></loading>
    <alert v-if="a.message" :type="a.type" :close="a.close" @close="closeAlert">${a.message}<span slot="foo">&times;</span></alert>
    <textarea type="text" v-model="keyword"></textarea>
    <input id="photo" type="file" style="width:200px" value="" name="photo">
    <!-- <img :src="sku.photo"> -->
    <button class="ui button orange " @click="uploadimg">上传图片</button>
    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Books</div>
            <!-- Table -->
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="col-xs-4"></th>
                        <th class="col-xs-6"></th>
                        <th class="col-xs-2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(book, index) in booklistComplete">
                        <td>${book.bookname}</td>
                        <td><img :src="book.bookcover ? 'http://tutorials-hpdnn-env.us-east-2.elasticbeanstalk.com/'+ book.bookcover : ''" alt="" style="width:100%;"></td>
                        <td>${book.totalcount}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- /.modal -->
    <!--     <div class="row" v-for="(book, index) in booklistComplete">
        <div class="col-xs-5 col-sm-7 col-md-8">
            <h5>${book.bookname}</h5>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2" style="padding:0;">
            <img :src="book.bookcover ? 'http://tutorials-hpdnn-env.us-east-2.elasticbeanstalk.com/'+ book.bookcover : ''" alt="" style="width:100%;">
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2">
            <button type="button" class="btn btn-default" @click="postPunch(index)">打卡</button>
        </div>
    </div> -->
    <!-- /.row -->
    {% include 'footer.twig' %}
    <script src="assets/js/controller/library.js"></script>
    </body>

    </html>