<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
<IfModule mod_env.c>  
SetEnv RDS_DB_NAME awsdatabase
SetEnv RDS_USERNAME  littlecloudz
SetEnv RDS_PASSWORD  880308zxy
SetEnv RDS_HOSTNAME mydqlinstance.cjhdnjqsawox.us-east-2.rds.amazonaws.com
</IfModule>  
